<% body %>
  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">What is this about?</div>
    <p>In short, this is a website dedicated as a space for those who would fall under the umbrella of the "Intellectual Dark Web" as well as a gateway for people interested in this group.</p>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">Is this about political movement x, y or z?</div>
    <p>No. Anybody from any part of the political spectrum can fall into this dark web.</p>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">Who gets featured as a core contributor?</div>
    <p>A contributor is essentially anybody who has provided meaningful additions to the I.D.W.</p>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">What are the core values?</div>
    <ul>
      <li>Freedom of speech</li>
      <li>Freedom to discuss opposing views</li>
      <li>Freedom to offend (within reason)</li>
      <li>Freedom to take responsibility for yourself</li>
      <li>No identity politics</li>
      <li>Individuals above all</li>
      <li>Truth as a first class citizen</li>
    </ul>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">What are some future plans for the site?</div>
    <p>I have a list of things I would like to see:</p>
    <ul>
      <li>A place for videos, articles and discussions to take place without the fear of some big tech conglomerate shutting it down.</li>
      <li>A way to distribute information to anybody who's interested. Currently the idea would be to use p2p (peer to peer) web (webrtc) technology.</li>
      <li>An offline method of gathering information, sharing it and viewing it. Think PWA (progressive web app).</li>
      <li>A place where contributors to the intellectual dark web (at its core) can post or disseminate information freely (or for a fee) but also keep their individuality.</li>
      <li>More ideas to come...</li>
    </ul>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">I could use some help...</div>
    <p>I will continue to add features and enhance the website but am very happy to receive help or support. Please reach out to me through email: spirodonfl at gmail dot com.</p>
  </div>
<% body %>