<% body %>
  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">Individual Responsibility</div>
  </div>
  
  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">Freedom of Speech</div>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">Objective Facts</div>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">Truthful Speech</div>
  </div>
<% body %>