<% body %>
  <div class="container mx-auto mt-4 leading-loose p-8 off-dark-1">
    <h2 class="text-white uppercase py-4">A little preface</h2>
    <h3>Time has made it apparent that there is an attack on core values in our society at large. Seeing big companies (particularly tech companies) shut down freedom of speech by blocking people or placing ridiculous "facts" as overlays on peoples mouths seems to be the norm now. In my opinion, this is trampling on free speech, among other things, and shutting down reasonable dialogue with opposing views seems like a horrible and stupid idea. I created this website as a response to that.</h3>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">What is this about?</div>
    <p>In short, this is a website dedicated as a safe space for those who would fall under the umbrella of the "Intellectual Dark Web" as well as a gateway for people interested in this group.</p>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">Is this about political movement x, y or z?</div>
    <p>No. Anybody from any part of the political spectrum can fall into this dark web.</p>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">Who gets featured as a core contributor?</div>
    <p>First of all, a core contributor would be a key figure who essentially takes the lead in the intellectual dark web. People showcased, as such, will be chosen by the community at large based on their composite leadership of the core values.</p>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">What are the core values?</div>
    <ul>
      <li>Freedom of speech</li>
      <li>Freedom to discuss opposing views</li>
      <li>Freedom to offend (within reason)</li>
      <li>Freedom to take responsibility for yourself</li>
      <li>No identity politics</li>
      <li>Individuals above all</li>
      <li>Truth as a first class citizen</li>
    </ul>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">What are some future plans for the site?</div>
    <p>I have a list of things I would like to see:</p>
    <ul>
      <li>A safe place for videos, articles and discussions to take place without the fear of some big tech conglomerate shutting it down.</li>
      <li>A way to distribute information to anybody who's interested in a safe way. Currently the idea would be to use p2p (peer to peer) web technology.</li>
      <li>An offline method of gathering information, sharing it and viewing it. Think PWA (progressive web app).</li>
      <li>A place where contributors to the intellectual dark web (at its core) can post or disseminate information freely (or for a fee) but also keep their individuality.</li>
      <li>More ideas to come...</li>
    </ul>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">I could use some help...</div>
    <p>I will continue to add features and enhance the website but am very happy to receive help or support. Please reach out to me through email: spirodonfl at gmail dot com.</p>
  </div>
<% body %>