<% body %>
  <div class="container mx-auto mt-4 leading-loose p-8 off-dark-1">
    <h2 class="text-white uppercase py-4">A little preface</h2>
    <h3>Time has made it apparent that there is an attack on core values in our society at large. Seeing big companies (particularly tech companies) shut down freedom of speech by blocking people or placing ridiculous "facts" as overlays on peoples mouths seems to be the norm now. In my opinion, this is trampling on free speech, among other things, and shutting down reasonable dialogue with opposing views seems like a horrible and stupid idea. I created this website as a response to that.</h3>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">Quick list of info</div>
    <p><a href="https://www.youtube.com/watch?v=n5HN-KT9rj0" target="_blank">> Dave Rubins overview of what the Intellectual Dark Web actually is</a></p>
    <p><a href="https://www.nytimes.com/2018/05/08/opinion/intellectual-dark-web.html" target="_blank">> New York Times article on the I.D.W</a></p>
    <p><a href="https://www.vox.com/the-big-idea/2018/5/10/17338290/intellectual-dark-web-rogan-peterson-harris-times-weiss" target="_blank">> VOX article of I.D.W</a></p>
    <p><a href="https://www.reddit.com/r/IntellectualDarkWeb/" target="_blank">> The I.D.W SubReddit</a></p>
  </div>
<% body %>