<% head-bottom %>
  <style type="text/css">
  .card.person .profile-left { grid-area: card-person-profile-left; }
  .card.person .profile-right { grid-area: card-person-profile-right; }

  .card {
    display: grid;
    grid-template-areas:
      'card-person-profile-left'
      'card-person-profile-right';
    grid-template-columns: 1fr;
  }

  @media (min-width: 576px) {}
  @media (min-width: 768px) {
    .card {
      display: grid;
      grid-template-areas:
        'card-person-profile-left card-person-profile-right';
      grid-template-columns: 300px 1fr;
    }
  }
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    .card {
      display: grid;
      grid-template-areas:
        'card-person-profile-left card-person-profile-right';
      grid-template-columns: 200px 1fr;
    }
  }
  </style>
<% head-bottom %>

<% body %>
  <div class="container mx-auto py-5 mb-2 card person">
    <div class="profile-left p-4">
      <img src="img/1.jpg" class="border-solid border-gray border" />
    </div>
    <div class="profile-right">
      <div class="profile-title p-4 font-bold uppercase">Jordan Peterson</div>
      <div class="profile-content p-4">
        <div class="pb-2">Jordan Peterson is a Canadian clinical psychologist, cultural critic, and professor of psychology at the University of Toronto.</div>
        <div class="py-1"><a href="https://jordanbpeterson.com/">Website</a></div>
        <div class="py-1"><a href="https://www.twitter.com/jordanbpeterson">Twitter</a></div>
        <div class="py-1"><a href="https://www.youtube.com/c/jordanpetersonvideos">YouTube</a></div>
      </div>
    </div>
  </div>

  <div class="container mx-auto py-5 mb-2 card person">
    <div class="profile-left p-4">
      <img src="img/2.jpg" class="border-solid border-gray border" />
    </div>
    <div class="profile-right">
      <div class="profile-title p-4 font-bold uppercase">Eric Weinstein</div>
      <div class="profile-content p-4">
        <div class="pb-2">Eric R. Weinstein is a managing director of Thiel Capital in San Francisco. He is also a research fellow at the Mathematical Institute of Oxford University.</div>
        <div class="py-1"><a href="http://www.eric-weinstein.net/">Website</a></div>
        <div class="py-1"><a href="https://twitter.com/EricRWeinstein">Twitter</a></div>
        <div class="py-1"><a href="https://www.youtube.com/user/nobani88">YouTube</a></div>
      </div>
    </div>
  </div>

  <div class="container mx-auto py-5 mb-2 card person">
    <div class="profile-left p-4">
      <img src="img/3.jpg" class="border-solid border-gray border" />
    </div>
    <div class="profile-right">
      <div class="profile-title p-4 font-bold uppercase">Dave Rubin</div>
      <div class="profile-content p-4">
        <div class="pb-2">Dave Rubin is a political commentator, comedian and talk show host.</div>
        <div class="py-1"><a href="http://daverubin.tv/">Website</a></div>
        <div class="py-1"><a href="https://twitter.com/RubinReport">Twitter</a></div>
        <div class="py-1"><a href="https://www.youtube.com/channel/UCJdKr0Bgd_5saZYqLCa9mng">YouTube</a></div>
      </div>
    </div>
  </div>

  <div class="container mx-auto py-5 mb-2 card person">
    <div class="profile-left p-4">
      <img src="img/4.jpg" class="border-solid border-gray border" />
    </div>
    <div class="profile-right">
      <div class="profile-title p-4 font-bold uppercase">Ben Shapiro</div>
      <div class="profile-content p-4">
        <div class="pb-2">Ben Shapiro is an American conservative political commentator, columnist, author, radio talk show host and lawyer.</div>
        <div class="py-1"><a href="https://www.dailywire.com/">Website</a></div>
        <div class="py-1"><a href="https://twitter.com/benshapiro">Twitter</a></div>
        <div class="py-1"><a href="https://www.youtube.com/channel/UCnQC_G5Xsjhp9fEJKuIcrSw">YouTube</a></div>
      </div>
    </div>
  </div>

  <div class="container mx-auto py-5 mb-2 card person">
    <div class="profile-left p-4">
      <img src="img/5.jpg" class="border-solid border-gray border" />
    </div>
    <div class="profile-right">
      <div class="profile-title p-4 font-bold uppercase">Sam Harris</div>
      <div class="profile-content p-4">
        <div class="pb-2">Sam Harris is a neuroscientist and philosopher. He is the author of five New York Times bestsellers and a prolific podcaster.</div>
        <div class="py-1"><a href="https://samharris.org/">Website</a></div>
        <div class="py-1"><a href="https://twitter.com/SamHarrisOrg">Twitter</a></div>
        <div class="py-1"><a href="https://www.youtube.com/channel/UCNAxrHudMfdzNi6NxruKPLw">YouTube</a></div>
      </div>
    </div>
  </div>

  <div class="container mx-auto py-5 mb-2 card person">
    <div class="profile-left p-4">
      <img src="img/6.jpg" class="border-solid border-gray border" />
    </div>
    <div class="profile-right">
      <div class="profile-title p-4 font-bold uppercase">Bret Weinstein</div>
      <div class="profile-content p-4">
        <div class="pb-2">Bret Weinstein is an evolutionary theorist and "professor-in-exile".</div>
        <div class="py-1"><a href="https://bretweinstein.net/">Website</a></div>
        <div class="py-1"><a href="https://twitter.com/BretWeinstein">Twitter</a></div>
        <div class="py-1"><a href="https://www.youtube.com/channel/UCi5N_uAqApEUIlg32QzkPlg">YouTube</a></div>
      </div>
    </div>
  </div>

  <div class="container mx-auto py-5 mb-2 card person">
    <div class="profile-left p-4">
      <img src="img/7.jpg" class="border-solid border-gray border" />
    </div>
    <div class="profile-right">
      <div class="profile-title p-4 font-bold uppercase">Joe Rogan</div>
      <div class="profile-content p-4">
        <div class="pb-2">Joe Rogan is an American stand-up comedian, martial arts commentator and podcast host.</div>
        <div class="py-1"><a href="https://www.joerogan.com/">Website</a></div>
        <div class="py-1"><a href="https://twitter.com/joerogan">Twitter</a></div>
        <div class="py-1"><a href="https://www.youtube.com/channel/UCzQUP1qoWDoEbmsQxvdjxgQ">YouTube</a></div>
      </div>
    </div>
  </div>

  <p>You might also want to add Peter Boghossian, Helen Pluckrose and James Lindsay, who published the hoaxes in Gender Studies journals and revealed these journals to be ideologically motivated.</p>

  <div class="container mx-auto py-5 mb-2 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">Think someone belongs here?</div>
    <p>Send me an email and nominate someone. Email: spirodonfl at gmail dot com</p>
  </div>
<% body %>