<% body %>
  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">Global Warming</div>
    <p>Now called "Climate Change"</p>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">The Nuclear Family</div>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">Gender Pronouns</div>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">Racism</div>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">Reverse Racism</div>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">Trigger Warnings</div>
  </div>

  <div class="container mx-auto mt-4 leading-loose">
    <div class="font-bold text-white text-xl uppercase py-4">Pro-Life</div>
  </div>
<% body %>