  <footer class="container mx-auto mt-16 py-6 border-solid border-white border-t-2 text-center">
    Created for advocates of truth, free speech and individual responsibility.
  </footer>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-26852031-4', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>