  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>The Intellectual Dark Web</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!--<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">-->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="css/tailwind.min.css">
  <style type="text/css">
    body {
      letter-spacing: 2px;
      font-family: 'Lato', sans-serif;
    }
    a {text-decoration: none;}

    body.dark {
      background-color: rgb(40, 40, 40);
      color: rgb(220, 220, 220);
    }
    .dark a, .dark button {color: rgb(160, 160, 160);}

    .off-dark-1 { background-color: rgb(50, 50, 50); }
  </style>